:root {
    --primary-color: #d70018;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    
    --header-height: 64px;
    --header-sort-bar-height: 34px;
    --breadcrumbs-height: 30px;
}
* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 2.2rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.list-unstyled {
    padding: 0;
    list-style: none;
}

.font-weight-both {
    font-weight: 700 !important;
}

.text-reset {
    color: inherit !important;
}

.text-decoration-none {
    text-decoration: none !important;
}
.text-primary-color {
    color: #d70018;
}
/* Margin-top */
.mt-3 {
    margin-top: 15px !important;
}

/* Margin-bottom */
.mb-1 {
    margin-bottom: 0px !important;
}
.mb-1 {
     margin-bottom: 5px !important;
}
.mb-2 {
    margin-bottom: 10px !important;
}
/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}


.pagination-item--active:hover .pagination-item__link {
    background-color: #ec6b51;
}

.pagination-item__link {
    --height: 30px; /* bien cuc bo */
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}

.pagination-item {
    margin: 0 12px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    z-index: 11;
}
.modal-body__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 12;
}
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 13;
    animation: Growth linear 0.1s;
}

/* button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Block-Breadcumbs */
.block-breadcrumbs {
    width: 100%;
    height: var(--breadcrumbs-height);
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    z-index: 1;
    overflow-x: auto;
    position: relative;
}
.block-breadcrumbs ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 1.2rem;
    list-style: none;
}
.block-breadcrumbs ul li {
    float: left;
    margin-right: 15px;
    color: #707070;
}
.block-breadcrumbs ul li a {
    margin-right: 10px;
    text-decoration: none;
    color: #707070;
    float: left;
}
.breadcrumbs__home-icon {
    margin-right: 10px;
    color: var(--primary-color);
}
/* Prices */
.price-old  {
    display: inline-block;
    margin: 0 0 10px 10px!important;
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #707070;
}

.price-current  {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    color: #D70018;
    margin-left: 10px !important;
}