/* Page Index CSS */
/* Header */
.header {
    background-color: var(--primary-color);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 0 0;
    height: 100%;
}
.header-logo {
    height: 64px;
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
    float: left;
    margin-right: 15px;
}
.header-logo__img {
    height: 64px;
    width: 120px;
    display: block;
}

.header-search {
    height: 34px;
    float: left;
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 1rem;
    overflow: hidden;
}
.search-box__input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    flex: 1;
    padding: 0.5rem 1rem 0.5rem 0.6rem;
}
.search-box {
    display: flex;
    width: 100%;
}
.search-box__btn {
    display: flex;
    width: 26px;
    height: 34px;
    align-items: center;
    justify-content: flex-end;
}
.search-box__icon {
    font-size: 1.4rem;
    color: #707070;
}

.header-about {
    margin-left: 15px;
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    text-decoration: none !important;
    position: relative;
    width: calc(100% - (30px + 120px + 161px + 300px + (15px * 4)));
    display: flex;
    justify-content: space-between;
}
.about-item {
    display: flex;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
}
.about-item:hover {
    background-color: rgba(238, 238, 238, 0.25);
}
.about-1 span {
    font-size: 1.6rem;
    font-weight: 900;
}
.about-4 {
    position: relative;
}
.about-4 span {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);
    position: absolute;
    left: 5px;
    bottom: 6px;
}
.about-5 {
    background-color: rgba(238, 238, 238, 0.25);
    display: block;
    padding: 5px;
    border-radius: 10px;
}
.about-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--white-color);
}
.about-item__content {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 300;
    margin-right: 5px;
}
.about-item__content p {
    margin: 0;
}
.header-cart {
    display: none;
}
.header__mobile-menu,
.header__mobile-search {
    padding: 0 12px;
    display: none;
}
.header__mobile-menu-icon,
.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__menu-list {
    display: none;
}
.header-menu-overlay,
.header-search-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .53);
    z-index: 30;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .53);
    z-index: 31;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.header__pc-tablet-checkbox:checked ~ .overlay {
    display: block;
    visibility: visible;
    opacity: 1;
}
/* User Info */
.navbar__user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar__user:hover .navbar__user-menu {
    display: block;
}

.navbar__user-menu {
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    list-style: none;
    padding-left: 0;
    width: 160px;
    box-shadow: 0 1px 5px #c7c7c7;
    display: none;
}

.navbar__user-menu::before {
    content: "";
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.navbar__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 85%;
    height: 8px;
    top: -8px;
    right: 0;
}

.navbar__user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}

.navbar__user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-item a:first-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar__user-item a:hover {
    background-color: #fafafa;
}

.user__moblie-info {
    display: flex;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid var(--primary-color) ;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden; /* khi element con vượt quá elemen cha thì ẩn */
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
    padding: 20px 0;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    font-size: 1.4rem;
    padding-left: 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
    background-color: #ccc;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3a5a98;
}

.auth-form__socials--facebook
.auth-form__socials-tittle{
    color: var(--white-color);
}

.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-tittle {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 18px;
    border-left: 1px solid var(--border-color);
    margin: 1px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;

}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.header__sort-price {
    padding: 8px 16px;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
/* Container */
.app-container {
    border-radius: 2px;
    background-color: #f5f5f5;
    margin-top: var(--header-height);
}
/* Container list menu item */
.box-list-item {
    min-width: 205px;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    background-color: var(--white-color);
    z-index: 10;
}
.box-child-list-item {
    width: 167px;
    min-height: 267px;
    visibility: hidden;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    position: absolute;
    top: 0;
    left: 150%;
    z-index: 1000;
    opacity: 0;
    background-color: var(--white-color);
}
.item-menu:hover > .box-child-list-item {
    visibility: visible;
    opacity: 1;
    left: 100%;
    transition: all 0.5s ease-in-out;
}

.list-item {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
}
.item-menu {
    align-items: center;
    cursor: pointer;
}
.item-menu__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0 10px;
    display: flex;
    border-bottom: 1px solid rgb(60 64 67 / 10%);
    align-items: center;
    min-height: 32px;
}
.item-menu__link:hover {
    background: #F3F4F6;
}
.item-menu__link > span{
    flex: 1;
    font-size: 1.2rem;
    font-weight: 700;
    color: #343a40;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-menu__icon-sub {
    float: right;
    margin-left: 5px;
    line-height: 18px;
}
.item-menu__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    font-size: 2rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.block-sliding-home__right {
    width: 265px;
}
.banner-right__item {
    width: 100%;
    height: 115px;
    overflow: hidden;
    float: left;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 20%);

}
.banner-right__item:not(:last-child) {
    margin-bottom: 20px;
}
.banner-right__item > img {
    width: 100%;
    border-radius: 1rem;
}
.block-sliding-home {
    padding-top: 10px;
    position: relative;
}
.block-sliding-home__left,
.block-sliding-home__center {
    margin-right: 15px;
}
.silding-home__wrap {
    width: 700px;
    height: 100%;
    position: relative;
}
.silding-home__wrap > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}
.btn-slide {
    width: 30px;
    height: 50px;
    background-color: black;
    position:absolute;
    top: 50%;
}
.btn-slide__left {
    left: 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.btn-slide__right {
    right: 0;
}

/* container products */
.box-title {
    display: flex;
    margin-bottom: 5px;
}
.box-title__title {
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.box-title__title > h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: left;
}
.box-related-tag {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px 0 0 0; */
}
.list-related-tag a {
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    margin: 0 1rem 0 0;
    padding: 0.5rem 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 1rem;
    background: #F3F4F6;
    color: #444444;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.item-related-tag:last-child {
    margin-right: 0;
}

.home-filter {
    display: flex;
    padding: 12px 24px;
    border-radius: 2px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__lable {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    padding: 13px 0 0 13px; /* margin: auto không nhận? */
    font-size: 1.2rem;
    color: #555;
    /* margin: auto; */
}

/* Mobile-tablet Category */
.mobile-tablet-category {
    display: none;
}

.mobile-tablet-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-tablet-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-tablet-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-tablet-category__item:nth-of-type(3n + 1) .mobile-tablet-category__link {
    background-color: #f12711;
}

.mobile-tablet-category__item:nth-of-type(3n + 2) .mobile-tablet-category__link {
    background-color: #f5af19;
}

.mobile-tablet-category__item:nth-of-type(3n + 3) .mobile-tablet-category__link {
    background-color: #91dd40;
}

.mobile-tablet-category__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 8px;
}

.mobile-tablet-category__name {
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Product item */
.home-product {
    margin: 20px 0;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 5px;
    /* border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform; /* khai báo để trình duyệt hiểu transform */
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
} 

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    z-index: 1;
}

.home-product-item__img  {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center; /* trọng tâm bức ảnh được focus vào giữa */
    background-size: contain; /* giúp ảnh co lại */
}

.home-product-item__name  {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 20px 10px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* hướng của box theo chiều nào? ngang hay dọc? */
    -webkit-line-clamp: 2; /* giới hạn số dòng là bao nhiêu. chỉ hỗ trợ một vài trình duyệt */

}

.home-product-item__price  {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__action  {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.home-product-item__rating  {
    font-size: 1rem;
    transform-origin: right; /* tâm thu nhỏ sẽ chuyển sang phải */
    color: #d5d5d5;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin  {
    margin: 3px 10px 0;
    display: flex;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}


.home-product-item__origin-name  {
    margin-left: auto;
}

.home-product-item__favorite  {
    position: absolute;
    top: 0;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 2px 4px 2px 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 4px;
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin-left: 5px;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}
/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer-box-contact__wrap {
    font-size: 1.2rem;
}
.footer-title {
    font-size: 1.6rem;
    font-weight: 900;
}
.footer-item-link {
    color: var(--text-color);
}
.footer-item-link:hover {
    color: var(--primary-color);
    text-decoration:underline;
}
.footer__bottom {
    min-height: 200px;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 36px;
    padding: 48px 0 36px 0;
}

.footer__info-menu {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.footer__info-menu-link {
    text-decoration: none;
    color: #737373;
    padding: 0 16px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.footer__info-address p {
    margin-bottom: 10px;
}

.footer__info-menu-link:nth-child(2) {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.footer__info-address {
    font-size: 1.8rem;
}

.footer__info-address:first-child {
    color: #555;
}

.footer__info-address:nth-child(2) {
    color: #737373;
}


/* Page Mobile CSS */
/* Page-Mobile-Header */
.box-header-menu {
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
    margin: 0 15px 0 0;
    position: relative;
}
.box-header-menu__wrap {
    background-color: rgba(238, 238, 238, 0.25);
    padding: 13px;
}
.header-menu__icon {
    color: var(--white-color);
}

.box-list-item__mobile {
    min-width: 230px;
    position: absolute;
    top: -100%;
    left: -176px;
    visibility: hidden;
    opacity: 0;
}
.box-header-menu:hover > .box-list-item__mobile {
    visibility: visible;
    opacity: 1;
    top:100%;
    transition: all 0.5s ease-in-out;
}

/* Page-Mobile-container */
.container-mobile__content {
    margin-top: 94px;
}
.item-subcate {
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    margin: 0 1rem 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 1rem;
    background: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none!important;
    color: #444444;
    overflow: hidden;
    position: relative;
}
.icons-subcate {
    height: 15px;
}
.box-title .box-title__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
    color: #444444;
}
.block-filter {
    font-size: 1.2rem;
}
.item-filter {
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    margin: 0 1rem 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 1rem;
    background: #F3F4F6;
    color: #444444;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.item-filter > i {
    margin-right: 5px;
}

/* Page detail Products */
.block-detail-product {
    margin-top: calc(var(--header-height) + var(--breadcrumbs-height));
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}
.detail-product__box-name {
    padding: 10px 0;
    border-bottom: 1px solid #D1D5DB;
}
.box-name__box-product-name h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.detail-product__box-left,
.detail-product__box-center,
.detail-product__box-right {
    padding-left: 15px;
}
.slides-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    border: 1px solid #D1D5DB;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.mySlides {
    display: none;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    justify-content: center;
}
.thumb-wrap {
    margin-right: 10px;
}
.thumb-item {
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    float: left;
    padding: 5px 3px;
    border-radius: 1rem;
    background: #ffffff;
    border: 1px solid #D1D5DB;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    cursor: pointer;
}
.list-version {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.version-item:not(:nth-child(3n)) {
    margin-right: 10px;
}
.version-item {
    width: calc((100% - 20px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 3px 4px;
    border: 1px solid #D1D5DB;
    border-radius: 1rem;
    background: #ffffff;
    font-size: 1.2rem;
    line-height: 2rem;
    text-decoration: none;
    color: #444444;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.active {
    border: 1px solid #D70018!important;
    outline: none;
}
.disable {
    cursor: not-allowed!important;
    opacity: .5;
}
.version-item.active:after {
    content: "";
    width: 15px;
    height: 10px;
    border-radius: 0 0 0.5rem 0;
    background: #D70018;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
.box-product-option {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px!important;
}
.box-option-title {

}
.box-title__title {
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.box-option-content {

}
.list-colors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.item-color:not(:nth-child(3n)) {
    margin-right: 10px;
}
.item-color {
    width: calc((100% - 20px) / 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 7px 3px 5px;
    border: 1px solid #D1D5DB;
    border-radius: 1rem;
    background: #ffffff;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
}
.item-color > a > img {
    width: 26px;
    height: auto;
    margin-top: 8px;
    margin-right: 5px;
}
.box-promotion {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #FEE2E2;
    border-radius: 10px;
    overflow: hidden;
}
.box-promotion-title {
    display: flex;
    width: 100%;
    padding: 10px;
    background: #FEE2E2;
}
.promotion-title__icon {
    font-size: 16px;
    color: var(--primary-color);
    margin-right: 10px;
}
.promotion-title__title {
    margin-bottom: 0;
    font-size: 16px;
    color: var(--primary-color);
}
.box-promotion-content {
    width: 100%;
    display: inline-block;
    padding: 10px;
}
.list-promotions {
    width: 100%;
    display: inline-block;
    counter-reset: item;
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
}
.item-promotion {
    counter-increment: item;
    margin-bottom: 0;
    font-size: 14px;
    position: relative;
    line-height: 2rem;
}
.item-promotion > a {
    color: var(--text-color);
}
.item-promotion > a > span {
    color: var(--primary-color);
}
.item-promotion:hover {
    text-decoration: underline;
}
.item-promotion:not(:last-child) {
    margin-bottom: 5px;
}
.box-action-botton {
}
.action-botton {
    width: 100%;
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    background: linear-gradient(#f52f32, #e11b1e);
    border: solid 1px #e11b1e;
}
.box-promotion-more {
    width: 100%;
    margin-bottom: 20px!important;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    overflow: hidden;
}
.promotion-more-title {
    width: 100%;
    padding: 8px 10px;
    background: #D1D5DB;
}
.promotion-more__title {
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #444444;
}
.promotion-more__content {
    margin: 0;
    padding: 10px;
    list-style: none;
}
.promotion-item {
    counter-increment: item;
    margin-bottom: 0;
    font-size: 12px;
    color: #444444;
    position: relative;
    line-height: 2rem;
}
.promotion-item > a {
    color: var(--text-color);
}
.promotion-item::before {
    content: "";
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 2px 0 0 0;
    border-radius: 50px;
    background: #2BA832;
    background-image: url(/media/icons/checkmark.svg); /*tích V */
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    position: absolute;
    top: 4px;
    left: calc(-12px + -5px);
}
.box-warranty-info {
    width: 100%;
    display: inline-block;
    padding: 10px 10px 0 10px;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    background: #ffffff;
}
.warranty-info-item {
    display: flex;
    flex-direction: row;
}
.warranty-info-item__icon-wrap {
}
.warranty-info-item p {
    font-size: 1.4rem;
    width: calc(100% - (25px + 5px));
    margin-bottom: 10px;
}
.warranty-info-item__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 2rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.box-technical-info {
    padding: 10px;
    background: #ffffff;
    overflow: hidden;
}
.block-infomation-product {
    margin-top: 10px;
}
.box-technical__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
    color: #444444;
}
.box-technical-content table,
.box-technical-content {
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    overflow: hidden;
}
.box-technical-content {
    padding: 10px;
}
.box-technical-content table tbody tr:nth-child(odd) {
    background: #F2F2F2;
}
.box-technical-content table tbody tr th:first-child {
    width: 35%;
}
.box-technical-content table tbody tr th {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.btn-show-more {
    width: 100%;
    max-width: 362px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--white-color);
    font-size: 14px;
    color: #212529;
    text-decoration: none!important;
    cursor: pointer;
    margin: 10px 0 0 0;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
}
.btn-show-more:hover {
    border: 1px solid #D70018!important;
    background: #FEF2F2!important;
    color: #D70018!important;
}
.btn-show-more__icon {
    margin-left: 10px;
}
@media (min-width: 740px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
.modal-content {
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.modal-technical-more-info {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    overflow-y: auto;
}
.modal-content {
    overflow: hidden;
}
.modal-header {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
    background: #D70018;
}
.modal-title {
    width: calc(100% - (18px + 5px));
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
}
.close {
    float: right;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-shadow: none;
    color: #ffffff;
    opacity: 1;
}
.close-icon {
    margin-right: 5px;
    font-weight: bold;
}
.modal-body {
    padding: 15px 15px 0 15px;
}
.box-table-item {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    order: 0;
}
.box-title {
    width: 100%;
}
.box-title__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
    color: #444444;
}
.box-content {
    /* border: 1px solid #DEE2E6; */
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
}
.box-content table {
    width: 100%;
}
.box-content table tr th {
    line-height: 2.2rem;
}
.modal-footer {
    padding: 0 15px 15px 15px;
    border-top: 0;
    display: flex;
    justify-content: flex-end;
}
.btn-close {
    width: auto;
    min-width: 100px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 10px 15px;
    border: 0;
    border-radius: 1rem;
    background: #D70018;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
body.hidden {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.demo {
    display: none !important;
}
@keyframes mobileSearchSideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
.demo.hideShow  {
    display: block !important;
    animation: mobileSearchSideIn linear 0.2s;
}
.endShow {display: none !important;}