/* Header */
.header {
    background-color: var(--primary-color);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 0 0;
    height: 100%;
}
.header-logo {
    height: 64px;
    width: 161px;
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
    float: left;
}
.header-logo__img {
    height: 64px;
    width: 161px;
    display: block;
}

.header-search {
    width: 510px;
    height: 34px;
    float: left;
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 1rem;
    overflow: hidden;
}
.search-box__input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    flex: 1;
    padding: 0.5rem 1rem 0.5rem 0.6rem;
}
.search-box {
    display: flex;
    width: 100%;
}
.search-box__btn {
    display: flex;
    width: 26px;
    height: 34px;
    align-items: center;
    justify-content: flex-end;
}
.search-box__icon {
    font-size: 1.4rem;
    color: #707070;
}

.header-about {
    margin-left: 15px;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    text-decoration: none !important;
    position: relative;
    width: calc(100% - (30px + 120px + 161px + 300px + (15px * 4)));
    display: flex;
    justify-content: space-between;
}
.about-item {
    display: flex;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
}
.about-item:hover {
    background-color: rgba(238, 238, 238, 0.25);
}
.about-1 span {
    font-size: 1.6rem;
    font-weight: 900;
}
.about-4 {
    position: relative;
}
.about-4 span {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);
    position: absolute;
    left: 5px;
    bottom: 6px;
}
.about-5 {
    background-color: rgba(238, 238, 238, 0.25);
    display: block;
    padding: 5px;
    border-radius: 10px;
}
.about-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--white-color);
}
.about-item__content {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 300;
}
.about-item__content p {
    margin: 0;
}

/* Container */
.app-container {
}
.container__content {
    display: flex;
    padding-top: 34px;
    margin-top: 64px;
}
/* Container list menu item */
.box-list-item {
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    background-color: var(--white-color);
}
.box-child-list-item {
    width: 167px;
    min-height: 267px;
    visibility: hidden;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    position: absolute;
    top: 0;
    left: 150%;
    z-index: 100;
    opacity: 0;
    background-color: var(--white-color);
}
.item-menu:hover > .box-child-list-item {
    visibility: visible;
    opacity: 1;
    left: 100%;
    transition: all 0.5s ease-in-out;
}

.list-item {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
}
.item-menu {
    align-items: center;
    cursor: pointer;
}
.item-menu__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 6px;
    display: flex;
    border-bottom: 1px solid rgb(60 64 67 / 10%);
    align-items: center;
    min-height: 44px;
}
.item-menu__link:hover {
    background: #F3F4F6;
}
.item-menu__link > span{
    flex: 1;
    font-size: 1.2rem;
    font-weight: 700;
    color: #343a40;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-menu__icon-sub {
    float: right;
    margin-left: 5px;
    line-height: 18px;
}
.item-menu__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    font-size: 2rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
/* container products */
.box-title {
    display: flex;
    margin-bottom: 5px;
}
.box-title__title {
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.box-title__title:hover {
    text-decoration: underline;
}
.box-title__title > h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: left;
}
.box-related-tag {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px 0 0 0; */
}
.list-related-tag a {
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    margin: 0 1rem 0 0;
    padding: 0.5rem 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 1rem;
    background: #F3F4F6;
    color: #444444;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.item-related-tag:last-child {
    margin-right: 0;
}

.home-filter {
    display: flex;
    padding: 12px 24px;
    border-radius: 2px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__lable {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    padding: 13px 0 0 13px; /* margin: auto không nhận? */
    font-size: 1.2rem;
    color: #555;
    /* margin: auto; */
}

/* Product item */
.home-product {
    margin-bottom: 20px;
}

.home-product-item {
    display: block;
    min-height: 350px;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform; /* khai báo để trình duyệt hiểu transform */
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
} 

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    z-index: 1;
}

.home-product-item__img  {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center; /* trọng tâm bức ảnh được focus vào giữa */
    background-size: contain; /* giúp ảnh co lại */
}

.home-product-item__name  {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 20px 10px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* hướng của box theo chiều nào? ngang hay dọc? */
    -webkit-line-clamp: 2; /* giới hạn số dòng là bao nhiêu. chỉ hỗ trợ một vài trình duyệt */

}

.home-product-item__price  {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old  {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current  {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action  {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

.home-product-item__rating  {
    font-size: 1rem;
    transform-origin: right; /* tâm thu nhỏ sẽ chuyển sang phải */
    color: #d5d5d5;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin  {
    margin: 3px 10px 0;
    display: flex;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}


.home-product-item__origin-name  {
    margin-left: auto;
}

.home-product-item__favorite  {
    position: absolute;
    top: 0;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 2px 4px 2px 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 4px;
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin-left: 5px;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}