.password-control {
    padding: 16px 20px;
}
.password-control__title {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.password-control__title > h2 {
    text-transform: uppercase;
    font-weight: 400;
}
.password-control__change {
    display: flex;
    padding: 30px 20px 0 20px;
}
.password-control__change > form {
    flex: 1;
}
.forgot-password {
    width: 15%;
    margin-left: 20px;
}