.hide-on-pc {
    display: none;
}
/* Mobile and Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header-cart {
        margin-left: 30px;
        display: flex;
    }
    .box-cart {
        width: 45px;
        height: 34px;
        display: inline-block;
        float: left;
        padding: 0.2rem 0.2rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
        text-decoration: none;
        text-align: center;
        position: relative;
        color: var(--white-color);
    }
    .cart-box-icon {
        font-size: 2.4rem;
    }
    .items-in-cart {
        width: unset;
        min-width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: #ffffff;
        font-size: 12px;
        font-weight: 700;
        color: #D70018;
        position: absolute;
        top: -4px;
        left: unset;
        right: 2px;
        bottom: unset;
        border: 1px solid var(--primary-color);
    }
    /* .header__sort-bar {
        display: flex;
    } */
    .mobile-tablet-category {
        display: block;
        border-radius: 4px;
        overflow: hidden;
        margin: 10px 10px 0 10px;
    }
    /* Responsive Index Page */
        .silding-home__wrap {
            width: 100%;
        }
        .block-sliding-home__center {
            margin: 0;
        }
    /* Responsive Detail-products Page */
        .block-breadcrumbs {
            padding: 0 12px;
        }
        .detail-product__box-name {
            padding: 10px 12px;
        }
    /* Responsive Mobile Page */
        .list-subcate {
            display: flex;
            flex-wrap: wrap;
        }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header {
        align-items: center;
    }
    .box-products__item {
        width: 150px;
    }
}
/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    /* Responsive Index Page  */
        .pagination-item__link {
            --height: 28px;
            font-size: 1.6rem;
            min-width: 36px;
        }
        .pagination-item {
            margin: 0;
        }
        .container__content {
            margin: 0 4px;
        }
        .footer-box-contact {
            padding: 0 12px;
        }
        .home-product-item__price-current {
            min-width: 79px;
        }
        .header-container {
            justify-content: space-between;
        }
        .header-logo {
            margin-right: 0;
        }
        .header-cart {
            margin-left: 0;
            padding: 0 8px;
        }
        .header__mobile-menu,
        .header__mobile-search {
            display: block;
        }
        .header__menu-list {
            position: fixed;
            height: 100%;
            left: 0;
            bottom: 0;
            width: 200px;
            background-color: var(--white-color);
            display: block;
            z-index: 31;
            list-style: none;
            padding: 0;
            animation: mobileMenuSideIn linear 0.25s;
            display: none;
        }
        @keyframes mobileMenuSideIn {
            from {
                opacity: 0;
                transform: translatex(-100px);
            } to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .navbar__user-name {
            font-size: 1.6rem;
            margin-left: 10px;
            line-height: 44px;
        }

        .navbar__user-img {
            width: 44px;
            height: 44px;
            margin-left: 10px;
        }
        
        .header__menu-item a {
            text-decoration: none;
            color: var(--text-color);
            font-size: 1.6rem;
            display: block;
            padding: 10px 18px;
        }
        .header__menu-checkbox:checked ~ .header__menu-list {
            display: block;
        }
        .header__mobile-search {
            position: absolute;
            left: 40px;
        }
        .header__menu-checkbox:checked ~ .header-menu-overlay,
        .header__search-checkbox:checked ~ .header-search-overlay {
            display: block;
            visibility: visible;
            opacity: 1;
        }
        .header__search-checkbox:checked ~ .header-search {
            display: flex;
        }
        .search-box__btn {
            display: none;
        }
        .header-search {
            position: fixed;
            width: 100%;
            top: var(--header-height);
            right: 0;
            left: 0;
            height: 34px;
            border-radius: 4px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            z-index: 100;
            padding: 0 16px;
            animation: mobileSearchSideIn linear 0.2s;
            display: none;
        }
        @keyframes mobileSearchSideIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            } to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .block-sliding-home__center {
            padding: 10px;
        }
        .home-product {
            margin: 0 10px;
        }
        .block-sliding-home {
            padding: 0;
        }
        .box-products {
            margin: 0 12px 15px 12px;
        }
        .box-products__item {
            width: 130px;
        }
        .box-outstanding-title {
            display: block;
            margin-top: 15px;
        }
        .box-outstanding-title__title {
            margin-bottom: 5px;
        }
        .list-related-tag a {
            height: unset;
            padding: .5rem 1rem;
            border-radius: .5rem;
            margin: 0 1rem .5rem 0;;
        }
    /* Responsive Detail Page */
        .detail-product__box-left,
        .detail-product__box-center,
        .detail-product__box-right {
            padding: 0 12px;
        }
        .box-information,
        .box-technical-info {
            margin: 0 12px 15px 12px; 
        }
        .box-information {
            order: 2;
        }
        .block-infomation-product .l-8 {
            padding: 0;
        }
    /* Responsive Mobile, Laptop, Tablet Page */
        .item-subcate {
            margin: 0 .5rem 1rem 0;
        }
        .block-filter {
            padding: 0 8px;
        }
        .item-filter {
            margin: 0 1rem .5rem 0;
        }
        .home-product-item__name {
            margin: .5rem 1rem;
        }
        .price-old {
            margin: 0 4rem .5rem 1rem !important;
        }
        .price-current {
            margin: 0 0 1rem 1rem !important;
        }
        /* Responsive Cart Page  */
        .product-name {

        }
        .product-item__price {
            display: flex;
            flex-wrap: wrap;
        }
        .promotion-pack {
            
        }
}
